<h1>New</h1>

<form method="post" action="/classes">
	<input type="text" name="name" placeholder="Enter Class Name">
	<input type="text" name="instructor" placeholder="Enter Instructor"/>
	<input type="number" name="grade" placeholder="Enter Grade"/>
	<button type="submit">Post</button>
</form>
